Magic8BallWCFServiceHTTP/Magic8BallServiceClient/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Magic8BallService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Magic8BallWCFServiceHTTP" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMagic8BallService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMagic8BallService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMagic8BallService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IMagic8BallService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IMagic8BallService_ObtainAnswerToQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtainAnswerToQuestion" />
  </wsdl:message>
  <wsdl:message name="IMagic8BallService_ObtainAnswerToQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtainAnswerToQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="IMagic8BallService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMagic8BallService/GetData" message="tns:IMagic8BallService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMagic8BallService/GetDataResponse" message="tns:IMagic8BallService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMagic8BallService/GetDataUsingDataContract" message="tns:IMagic8BallService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMagic8BallService/GetDataUsingDataContractResponse" message="tns:IMagic8BallService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtainAnswerToQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IMagic8BallService/ObtainAnswerToQuestion" message="tns:IMagic8BallService_ObtainAnswerToQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMagic8BallService/ObtainAnswerToQuestionResponse" message="tns:IMagic8BallService_ObtainAnswerToQuestion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMagic8BallService" type="tns:IMagic8BallService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMagic8BallService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IMagic8BallService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtainAnswerToQuestion">
      <soap:operation soapAction="http://tempuri.org/IMagic8BallService/ObtainAnswerToQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Magic8BallService">
    <wsdl:port name="BasicHttpBinding_IMagic8BallService" binding="tns:BasicHttpBinding_IMagic8BallService">
      <soap:address location="http://localhost:8733/Magic8BallWCFServiceHTTP/Magic8BallService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>